# S18 T01: Tasca base de dades NoSQL

In [1]:
import pymongo
import pandas as pd

## Nivell 1
- Exercici 1

Crea una base de dades NoSQL utilitzant MongoDB. Afegeix-li algunes dades d'exemple que et permetin comprovar que ets capaç de processar-ne la informació de manera bàsica.

 We've created an Atlas account (MongoDB cloud service) an deployed the example databases that comes into the service.
 
 ![Atlas1](./Screenshots/Atlas1.png)

 ![Atlas2](./Screenshots/Atlas2.png)

- Exercici 2

Connecta la base de dades NoSQL a Python utilitzant per exemple pymongo.

In [2]:
conn_str = "mongodb+srv://Jahdry:6LPgTRZichCwxv3@warrior.nydx7.mongodb.net/"
myclient = pymongo.MongoClient(conn_str, serverSelectionTimeoutMS=5000)
myclient.list_database_names()

['mydatabase_test',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [3]:
database_name = "mydatabase_test"
collection_name = "users"
user = {"username": "Vetusta", "email": "vetusta_13@fakemail.com", "pw": "fakepassword4", "Is_admin":True, "admin_level": 5}

mydb = myclient[database_name] #Create a new DB
mycol = mydb[collection_name] #Create a collection --> is the equivalent to a SQL table.

In [4]:
mycol.delete_many({}) # this line to delete the previous records
myrecord = mycol.insert_one(user) #Insert a record in the collection

if "mydatabase_test" in myclient.list_database_names(): #Check if the DB exists. The DB doesn't show up until it has a collection and data on it. 
    print(f"The database {database_name} exists.")
if "users" in mydb.list_collection_names(): # Check if the collection exists
    print(f"The collection {collection_name} exists:")
    for r in mycol.find(): # print the records of the collection
        print (r)

The database mydatabase_test exists.
The collection users exists:
{'_id': ObjectId('60e4261868c7675baafae520'), 'username': 'Vetusta', 'email': 'vetusta_13@fakemail.com', 'pw': 'fakepassword4', 'Is_admin': True, 'admin_level': 5}

In [5]:
# Create random records from the word list below:
user_list = ["Blanquet", "Pilgrm", "Ford", "Garrison", "Stormtrooper", "Milwakee", "Cliford", "Saturna", "Hugaceo", "Mad_Racoon", "Tolkien", "Matilda", "SuperSayan"]
users = []
n = 1
a = 0

for i in user_list:
    users.append({"_id":n, "username": i, "email": f"{i}_{n}@fakemail.com".lower(), "pw": f"fakepassword{n}", "Is_admin":False})
    if n % 3 == 0: 
        users[a].update({"Is_admin":True, "admin_level": int(n/3)}) # if the Id is divisble by 3 this user is an admin and has "admin_level" attribute
    n += 1
    a += 1

for i in users: 
    print(i)

{'_id': 1, 'username': 'Blanquet', 'email': 'blanquet_1@fakemail.com', 'pw': 'fakepassword1', 'Is_admin': False}
{'_id': 2, 'username': 'Pilgrm', 'email': 'pilgrm_2@fakemail.com', 'pw': 'fakepassword2', 'Is_admin': False}
{'_id': 3, 'username': 'Ford', 'email': 'ford_3@fakemail.com', 'pw': 'fakepassword3', 'Is_admin': True, 'admin_level': 1}
{'_id': 4, 'username': 'Garrison', 'email': 'garrison_4@fakemail.com', 'pw': 'fakepassword4', 'Is_admin': False}
{'_id': 5, 'username': 'Stormtrooper', 'email': 'stormtrooper_5@fakemail.com', 'pw': 'fakepassword5', 'Is_admin': False}
{'_id': 6, 'username': 'Milwakee', 'email': 'milwakee_6@fakemail.com', 'pw': 'fakepassword6', 'Is_admin': True, 'admin_level': 2}
{'_id': 7, 'username': 'Cliford', 'email': 'cliford_7@fakemail.com', 'pw': 'fakepassword7', 'Is_admin': False}
{'_id': 8, 'username': 'Saturna', 'email': 'saturna_8@fakemail.com', 'pw': 'fakepassword8', 'Is_admin': False}
{'_id': 9, 'username': 'Hugaceo', 'email': 'hugaceo_9@fakemail.com', 'pw': 'fakepassword9', 'Is_admin': True, 'admin_level': 3}
{'_id': 10, 'username': 'Mad_Racoon', 'email': 'mad_racoon_10@fakemail.com', 'pw': 'fakepassword10', 'Is_admin': False}
{'_id': 11, 'username': 'Tolkien', 'email': 'tolkien_11@fakemail.com', 'pw': 'fakepassword11', 'Is_admin': False}
{'_id': 12, 'username': 'Matilda', 'email': 'matilda_12@fakemail.com', 'pw': 'fakepassword12', 'Is_admin': True, 'admin_level': 4}
{'_id': 13, 'username': 'SuperSayan', 'email': 'supersayan_13@fakemail.com', 'pw': 'fakepassword13', 'Is_admin': False}

In [6]:
x = mycol.insert_many(users) # Insertin multiple records into collection
for r in mycol.find(): # print the records
        print (r)

{'_id': ObjectId('60e4261868c7675baafae520'), 'username': 'Vetusta', 'email': 'vetusta_13@fakemail.com', 'pw': 'fakepassword4', 'Is_admin': True, 'admin_level': 5}
{'_id': 1, 'username': 'Blanquet', 'email': 'blanquet_1@fakemail.com', 'pw': 'fakepassword1', 'Is_admin': False}
{'_id': 2, 'username': 'Pilgrm', 'email': 'pilgrm_2@fakemail.com', 'pw': 'fakepassword2', 'Is_admin': False}
{'_id': 3, 'username': 'Ford', 'email': 'ford_3@fakemail.com', 'pw': 'fakepassword3', 'Is_admin': True, 'admin_level': 1}
{'_id': 4, 'username': 'Garrison', 'email': 'garrison_4@fakemail.com', 'pw': 'fakepassword4', 'Is_admin': False}
{'_id': 5, 'username': 'Stormtrooper', 'email': 'stormtrooper_5@fakemail.com', 'pw': 'fakepassword5', 'Is_admin': False}
{'_id': 6, 'username': 'Milwakee', 'email': 'milwakee_6@fakemail.com', 'pw': 'fakepassword6', 'Is_admin': True, 'admin_level': 2}
{'_id': 7, 'username': 'Cliford', 'email': 'cliford_7@fakemail.com', 'pw': 'fakepassword7', 'Is_admin': False}
{'_id': 8, 'username': 'Saturna', 'email': 'saturna_8@fakemail.com', 'pw': 'fakepassword8', 'Is_admin': False}
{'_id': 9, 'username': 'Hugaceo', 'email': 'hugaceo_9@fakemail.com', 'pw': 'fakepassword9', 'Is_admin': True, 'admin_level': 3}
{'_id': 10, 'username': 'Mad_Racoon', 'email': 'mad_racoon_10@fakemail.com', 'pw': 'fakepassword10', 'Is_admin': False}
{'_id': 11, 'username': 'Tolkien', 'email': 'tolkien_11@fakemail.com', 'pw': 'fakepassword11', 'Is_admin': False}
{'_id': 12, 'username': 'Matilda', 'email': 'matilda_12@fakemail.com', 'pw': 'fakepassword12', 'Is_admin': True, 'admin_level': 4}
{'_id': 13, 'username': 'SuperSayan', 'email': 'supersayan_13@fakemail.com', 'pw': 'fakepassword13', 'Is_admin': False}

Note that as we did not determined the "_id" of the first record Mongo assigned a uniqueID automaticaly.

## Nivell 2

- Exercici 1

Carrega algunes consultes senzilles a un Pandas Dataframe.

In [7]:
for x in mycol.find({'Is_admin':True}):
    print(x)

{'_id': ObjectId('60e4261868c7675baafae520'), 'username': 'Vetusta', 'email': 'vetusta_13@fakemail.com', 'pw': 'fakepassword4', 'Is_admin': True, 'admin_level': 5}
{'_id': 3, 'username': 'Ford', 'email': 'ford_3@fakemail.com', 'pw': 'fakepassword3', 'Is_admin': True, 'admin_level': 1}
{'_id': 6, 'username': 'Milwakee', 'email': 'milwakee_6@fakemail.com', 'pw': 'fakepassword6', 'Is_admin': True, 'admin_level': 2}
{'_id': 9, 'username': 'Hugaceo', 'email': 'hugaceo_9@fakemail.com', 'pw': 'fakepassword9', 'Is_admin': True, 'admin_level': 3}
{'_id': 12, 'username': 'Matilda', 'email': 'matilda_12@fakemail.com', 'pw': 'fakepassword12', 'Is_admin': True, 'admin_level': 4}

In [8]:
for x in mycol.find({"admin_level":{"$gte":3}}, {"_id":0, "email":0, "pw":0}).sort("username"): # users with "admin_level >= 3 and sorted by username"
    print(x)

{'username': 'Hugaceo', 'Is_admin': True, 'admin_level': 3}
{'username': 'Matilda', 'Is_admin': True, 'admin_level': 4}
{'username': 'Vetusta', 'Is_admin': True, 'admin_level': 5}

At this point I realize that the attribute "Is_admin" is irrelevant as the self existance of the field "admin_level" determines if the user is admin or not.

In [9]:
# For the next queries change the database to another one of the test databases that Atlas provides. 

database_name = "sample_mflix"
mydb = myclient[database_name] #Create a new DB
mydb.list_collection_names()

['comments', 'sessions', 'movies', 'users', 'theaters']

In [10]:
mycol = mydb["movies"]

# Search for all movies with ranting <= 8 in IMDB that are described as a masterpiece by the critic.

cursor = mycol.find({"imdb.rating":{"$lte":8}, "tomatoes.consensus":{"$regex":"masterpiece"}}, {"_id":False, "plot":False, "poster":False, "fullplot":False, "tomatoes.consensus":False}).sort("generes")
movies_df = pd.DataFrame(list(cursor))
movies_df

,genres,runtime,rated,cast,title,languages,released,directors,writers,awards,lastupdated,year,imdb,countries,type,tomatoes,num_mflix_comments,metacritic
0,[Horror],81,UNRATED,"[Max Schreck, Gustav von Wangenheim, Greta Sch...",Nosferatu,[German],1929-06-03,[F.W. Murnau],"[Henrik Galeen (screen play), Bram Stoker (bas...","{'wins': 1, 'nominations': 1, 'text': '1 win &...",2015-08-21 00:04:53.453000000,1922,"{'rating': 8.0, 'votes': 63322, 'id': 13442}",[Germany],movie,"{'viewer': {'rating': 4.0, 'numReviews': 46806...",NaN,NaN
1,"[History, War]",66,UNRATED,"[Aleksandr Antonov, Vladimir Barsky, Grigori A...",Battleship Potemkin,[Russian],1925-12-24,[Sergei M. Eisenstein],[Nina Agadzhanova (script by)],"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-18 00:22:19.750000000,1925,"{'rating': 8.0, 'votes': 36901, 'id': 15648}",[Soviet Union],movie,"{'viewer': {'rating': 4.0, 'numReviews': 18323...",1.0,NaN
2,[Horror],81,UNRATED,"[Max Schreck, Gustav von Wangenheim, Greta Sch...",Nosferatu,[German],1929-06-03,[F.W. Murnau],"[Henrik Galeen (screen play), Bram Stoker (bas...","{'wins': 1, 'nominations': 1, 'text': '1 win &...",2015-09-07 07:20:20.853000000,1922,"{'rating': 8.0, 'votes': 63557, 'id': 13442}",[Germany],movie,"{'viewer': {'rating': 4.0, 'numReviews': 46806...",1.0,NaN
3,"[Drama, War]",78,NOT RATED,"[Edmund Moeschke, Ernst Pittschau, Ingetraud H...",Germany Year Zero,"[German, English, French]",1949-09-19,[Roberto Rossellini],"[Roberto Rossellini (screenplay), Roberto Ross...","{'wins': 3, 'nominations': 0, 'text': '3 wins.'}",2015-08-17 01:04:11.080000000,1948,"{'rating': 7.9, 'votes': 6149, 'id': 39417}","[Italy, France, Germany]",movie,"{'viewer': {'rating': 4.0, 'numReviews': 2590,...",NaN,NaN
4,"[Drama, Mystery]",115,PG,"[Rachel Roberts, Vivean Gray, Helen Morse, Kir...",Picnic at Hanging Rock,"[English, French]",1979-02-02,[Peter Weir],"[Joan Lindsay (novel), Cliff Green (screenplay)]","{'wins': 4, 'nominations': 11, 'text': 'Won 1 ...",2015-08-23 00:27:24.657000000,1975,"{'rating': 7.6, 'votes': 23277, 'id': 73540}",[Australia],movie,"{'viewer': {'rating': 3.9, 'numReviews': 10042...",NaN,NaN
5,"[Horror, Mystery, Romance]",126,X,"[David Hemmings, Daria Nicolodi, Gabriele Lavi...",Deep Red,[Italian],1976-06-11,[Dario Argento],"[Dario Argento, Bernardino Zapponi (screenplay)]","{'wins': 1, 'nominations': 1, 'text': '1 win &...",2015-08-25 01:01:19.510000000,1975,"{'rating': 7.7, 'votes': 19144, 'id': 73582}",[Italy],movie,"{'viewer': {'rating': 4.0, 'numReviews': 11171...",1.0,NaN
6,[Drama],242,PG-13,"[Riz Abbasi, Richard Attenborough, David Blair...",Hamlet,[English],1996-12-25,[Kenneth Branagh],"[William Shakespeare (play), Kenneth Branagh (...","{'wins': 13, 'nominations': 18, 'text': 'Nomin...",2015-08-26 00:04:20.760000000,1996,"{'rating': 7.8, 'votes': 29078, 'id': 116477}","[UK, USA]",movie,"{'viewer': {'rating': 3.8, 'numReviews': 32056...",1.0,NaN
7,"[Crime, Drama]",137,NOT RATED,"[Salvatore Abruzzese, Simone Sacchettino, Salv...",Gomorrah,"[Neapolitan, Italian, Mandarin, French]",2009-04-10,[Matteo Garrone],"[Roberto Saviano (book), Maurizio Braucci (scr...","{'wins': 31, 'nominations': 28, 'text': 'Nomin...",2015-08-30 00:01:52.650000000,2008,"{'rating': 7.0, 'votes': 36065, 'id': 929425}",[Italy],movie,"{'website': 'http://www.gomorra-lefilm.com/', ...",3.0,87.0
8,[Drama],70,NOT RATED,"[Hèloèse Godet, Kamel Abdeli, Richard Chevalli...",Goodbye to Language,"[French, English]",2014-05-28,[Jean-Luc Godard],[Jean-Luc Godard],"{'wins': 5, 'nominations': 11, 'text': '5 wins...",2015-08-30 00:30:55.087000000,2014,"{'rating': 5.9, 'votes': 3002, 'id': 2400275}","[Switzerland, France]",movie,"{'viewer': {'rating': 3.1, 'numReviews': 3160,...",2.0,75.0

## Nivell 3

- Exercici 1

Genera un resum estadístic de la informació que conté la base de dades.

In [25]:
# Accesing the DB we've created before
mydb = myclient["mydatabase_test"] 
mycol = mydb["users"]

In [26]:
#Retrieving the entire data to a pandas DatFrame

cursor = mycol.find({})
users_df = pd.DataFrame(list(cursor))
users_df

,_id,username,email,pw,Is_admin,admin_level
0,60e4261868c7675baafae520,Vetusta,vetusta_13@fakemail.com,fakepassword4,True,5.0
1,1,Blanquet,blanquet_1@fakemail.com,fakepassword1,False,NaN
2,2,Pilgrm,pilgrm_2@fakemail.com,fakepassword2,False,NaN
3,3,Ford,ford_3@fakemail.com,fakepassword3,True,1.0
4,4,Garrison,garrison_4@fakemail.com,fakepassword4,False,NaN
5,5,Stormtrooper,stormtrooper_5@fakemail.com,fakepassword5,False,NaN
6,6,Milwakee,milwakee_6@fakemail.com,fakepassword6,True,2.0
7,7,Cliford,cliford_7@fakemail.com,fakepassword7,False,NaN
8,8,Saturna,saturna_8@fakemail.com,fakepassword8,False,NaN
9,9,Hugaceo,hugaceo_9@fakemail.com,fakepassword9,True,3.0
10,10,Mad_Racoon,mad_racoon_10@fakemail.com,fakepassword10,False,NaN
11,11,Tolkien,tolkien_11@fakemail.com,fakepassword11,False,NaN
12,12,Matilda,matilda_12@fakemail.com,fakepassword12,True,4.0
13,13,SuperSayan,supersayan_13@fakemail.com,fakepassword13,False,NaN

In [30]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          14 non-null     object
 1   username     14 non-null     object
 2   email        14 non-null     object
 3   pw           14 non-null     object
 4   Is_admin     14 non-null     bool
 5   admin_level  5 non-null      float64
dtypes: bool(1), float64(1), object(4)
memory usage: 702.0+ bytes

In [31]:
# Showing the statistics of the DB:
users_df.describe(include="all")

,_id,username,email,pw,Is_admin,admin_level
count,14.0,14,14,14,14,5.000000
unique,14.0,14,14,13,2,NaN
top,1.0,Cliford,milwakee_6@fakemail.com,fakepassword4,False,NaN
freq,1.0,1,1,2,9,NaN
mean,NaN,NaN,NaN,NaN,NaN,3.000000
std,NaN,NaN,NaN,NaN,NaN,1.581139
min,NaN,NaN,NaN,NaN,NaN,1.000000
25%,NaN,NaN,NaN,NaN,NaN,2.000000
50%,NaN,NaN,NaN,NaN,NaN,3.000000
75%,NaN,NaN,NaN,NaN,NaN,4.000000
max,NaN,NaN,NaN,NaN,NaN,5.000000

In order to resume statistically some of the features on sample_mflix DB (Test DB Atlas mongo cloud service) we've created and [Interactive Dashboard](https://charts.mongodb.com/charts-tasca18-mspka/public/dashboards/60df227c-e219-496c-8607-b4068dc95752) with Atlas Charts. 


 ![Atlas_Dashboard](./Screenshots/MoviesDashboard.png)